<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
<!-- Full Width Column -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<div ng-if="isLoading">
  <wave-spinner></wave-spinner>
</div>
<div id="chat-wrapper" class="content-wrapper" ng-class="{'menu-open': isMenuOpened}">
  <!-- Editor Content -->
  <div id="editorframe" style="overflow: hidden;">
    <!--Dynamically resize window to fit editor-->
    <iframe name="editor" id="editor-frame" style="width:100%; height:70vh;" src = "/app/views/ICE/ice.html" frameborder="0" scrolling="no"><p>Your browser does not support iframes.</p></iframe>
    <iframe name="preview" id="preview-frame" style="width:100%; height:30vh;" src = "/app/views/preview.html"></iframe>
    <script type="text/javascript">//<![CDATA[ 
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
              document.getElementById("preview-frame").style.display = "none";
            }       
            function resizeEditor()
            {
              var ua = window.navigator.userAgent;
              var iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
              var webkit = !!ua.match(/WebKit/i);
              var iOSSafari = iOS && webkit && !ua.match(/CriOS/i);
              if (iOSSafari) {
                var heights = window.innerHeight;
                document.getElementById("editor-frame").style.height = heights + "px";
              }
            }            
            resizeEditor();
            window.onresize = function() {
              resizeEditor();
            };
            //]]>  
    </script> 
  </div>
  <div id="dragbar"></div>  
  <!-- Chat Content -->
    <div id="chatframe"> 
                   
          <div class="row">
            <div class="col-sm-12">
              <div class="box box-warning direct-chat direct-chat-warning" >
              <div class="box-header with-border">
                <div id="menu-button" role="button" title="sweet hamburger" ng-click="onMenuClick()">
                  <div class="hamburger"><div class="inner"></div></div>
                </div>

                <div class = "nav">
                  <ul id="hamburger-menu" ng-style="{'pointer-events': isMenuOpened ? 'all' : 'none'}" >
                    <li>File</li>
                    <li>Edit</li>
                    <li>Object</li>
                  </ul>
                </div>
               
                <!-- MathJax CDN from CloudFlare-->
                <script type="text/javascript" async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
                <div class="box-tools pull-right">
                  <!-- Any File Select Button -->

                  <button class="btn btn-box-tool glyphicon glyphicon-fullscreen" id="goFS" onclick="simulateFullScreen();"></button>

                  <button class="btn btn-box-tool mobile" data-widget="" onclick="swapFrame();">f(x)</button>
                                                     
                  <button class="btn btn-box-tool mobile" id = "downloadLogBtn" 
                  ng-style= "{'display': isAdmin ? 'block' : 'none'}" data-widget="" onclick="downloadLogs();">⇲</button>

                  <button class="btn btn-box-tool mobile" data-widget="" ngf-select ng-model="Files"><i class="glyphicon glyphicon-paperclip"></i></button>
                  <!-- online member list mobile -->
                  <button style="display: inline-block;" class="btn btn-box-tool toggle-contact-icon" data-toggle="tooltip" data-widget="chat-pane-toggle" title="Contacts" ng-click="toggleCustom()"><i class="fa fa-comments"></i></button>

                  <div class="chat-settings" style="margin:0" ng-click="onSettingsClick()">
                    <div class="chat-menu" ng-class="{'hidden': hideSettings}">

                      <div id="downloadLogsButton" class="btn-flat" onclick="PDFDL();">DL</div>
                      <div id="downloadLogsButton" class=" btn-flat" onclick="imageOpen();">IMG</div>
                      <div class="btn-flat" ng-click="logout()">Logout</div>
                      <div class="btn-flat" style="display: flex;" ng-click="onClickDetails()">
                        <div class="squaredFour" style="margin-right: 5px">

                          <input type="checkbox" value="None" id="squaredFour" name="check" ng-model="enableVerbose"/>
                          <label for="squaredFour"></label>

                        </div>
                        <label>Enable Details</label>
                      </div>
                    </div>
                  </div>
                </div>


              </div><!-- /.box-header -->
              <div id="chat_body_div" class="box-body" >
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages" id="dcs" scroll-bottom="messages">
                  <!-- Message. Default to the left -->
                  <div ng-repeat="message in getAllMsg()"
                       ng-if="message.isChat() || (message.isSystem() && !(message.isHidden() && !enableVerbose))"
                       ng-class="{'direct-chat-msg' : true, 'right' : message.isOwn(), 'wordwrap' : true}">

                    {{ message.hidden ? "["+message.timeFormatted+"] "+message.msg : message.msg }}

                    <div ng-if="message.isChat()">

                      <!--Chat Information-->
                      <div class='direct-chat-info clearfix' ng-class="{ 'text-right': message.isOwn() }">
                        <span class='direct-chat-timestamp' ng-hide="message.isOwn()">{{ message.getTime() }}</span>
                        <span class='direct-chat-name' ng-class="{ 'admin': message.isInstructor() }">
                          {{ message.getUsername() }}
                          {{ (message.isInstructor() ? " (Instructor)" : "") + (message.isTA() ? " (TA)" : "") }}
                        </span>
                        <span class='direct-chat-timestamp' ng-hide="!message.isOwn()">{{ message.getTime() }}</span>
                      </div><!-- /.direct-chat-info -->


                      <!-- Text message -->
                      <div ng-class="{'direct-chat-text' : true, 'text-right' : message.isOwn()}">

                        <div class="direct-chat-img" style="position:relative">
                          <img class="direct-chat-img" ng-src="app/css/dist/img/{{message.getAvatar()}}" alt="message user image"></img><!-- /.direct-chat-img -->

                          <span class="nicknames"> {{ message.getInitials() }} </span>

                        </div>

                        <!-- Inner container to achieve dynamic message width -->
                        <div class="direct-chat-text-inner" ng-style = "{'background-color': message.isInstructor() ? '#32CD32' : '#f39c12','border-color': message.isInstructor() ? '#32CD32' : '#f39c12'}" >
                          <div ng-hide="message.hasFile()">
                            <div ng-if="message.getText().isImage()">
                              <img ng-src="{{ message.getText().getImage() }}" class="inline-image" />
                            </div>
                            <div ng-if="!message.getText().isImage()">
                              {{ message.getText().getRaw() }}
                            </div>
                          </div>

                          <!-- {{ message.sendfile }} Media File messages -->
                          <div class="item" ng-show="message.hasFile()">
                            <div class="attachment clearfix">
                            <!-- Image File Open -->
                              <div ng-class="{'filename' : true,'chat-msg' : true}" ng-show="message.isImageFile()">
                                <div>
                                  <div ng-class="{'attachment-icon-right' : message.isOwn(), 'attachment-icon-left' : !message.isOwn()}">
                                    <a href ng-click="openClickImage(message.raw_data)" ng-show="message.raw_data.showme" >
                                <img id="{{message.raw_data.dwid}}" width="100" height="30" ng-src="{{message.raw_data.dwimgsrc}}" alt="Open Image"></a> <!-- Open Icon -->

                                <a ng-href="{{message.raw_data.serverfilename}}" data-lightbox="{{message.raw_data.dwid}}" data-title="{{message.getFileName()}}" ng-hide="message.raw_data.showme">
                                  <img ng-class="{'multiple-borders-white' : message.isOwn(),'multiple-borders-black' : !message.isOwn()}" id="{{message.raw_data.dwid+1}}" width="90" height="70" ng-src="{{message.raw_data.serverfilename}}" alt="Image File">

                                <!-- Image -->
                                </a>
                                  </div>
                                  <div ng-class="{'attachment-msg-right' : message.isOwn(), 'attachment-msg-left' : !message.isOwn()}" ng-hide="message.raw_data.showme">
                                    <!--<span class="decs-text"><b>File:</b> {{ message.filename }}</span>-->
                                    <span class="decs-text">
                                    <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="message.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>&nbsp;&nbsp;</i><i class="fa fa-download dw-icon"></i></a>-->
                                    <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="!message.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href > <i class="fa fa-download dw-icon"></i><i>&nbsp;&nbsp;</i></a>-->
                                    <!--<a id ="{{message.dwid}}A" class="decs-text hidden-link" href="{{ message.serverfilename }}"  download="{{ message.serverfilename }}"><i>Hidden Link</i></a>-->
                                    </span>
                                  </div>
                                  <div ng-class="{'attachment-msg-right' : message.isOwn(), 'attachment-msg-left' : !message.isOwn()}" ng-if="(message.raw_data.dwimgsrc !== 'app/images/spin.gif')" ng-show="message.raw_data.showme">
                                    <!--<span class="decs-text"><b>File :</b> {{ message.filename }}</span>--> 
                                    <span class="decs-text">
                                    <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="message.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>Open in Editor&nbsp;&nbsp;</i><span style="font-size: 17px">&Eopf;</span></a>-->
                                    <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="!message.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><span style="font-size: 17px">&Eopf;</span><i>&nbsp;&nbsp;Open in Editor</i></a>-->
                                    <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="message.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href ><i>Download&nbsp;&nbsp;</i><i class="fa fa-download dw-icon"></i></a>-->
                                    <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="!message.ownMsg"  onclick="return angular.element(this).scope().downloadImage(event,this)" href > <i class="fa fa-download dw-icon"></i><i>&nbsp;&nbsp;Download</i></a>-->
                                    <!--<a id ="{{message.dwid}}A" class="decs-text hidden-link" href="{{ message.serverfilename }}"  download="{{ message.serverfilename }}"><i>Hidden Link</i></a>-->
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <!-- Image File Close -->


                              <!--WTF?-->
                              <!-- Audio File Open -->
                              <!--<div ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="message.isAudioFile()">-->
                                <!--<div ng-class="{'attachment-icon-right' : message.isOwn(), 'attachment-icon-left' : !message.isOwn()}">-->
                                  <!--<a href ng-click="openClickMusic(message.raw_data)">-->
                                  <!--<img id="{{message.raw_data.dwid}}" width="45" height="45" ng-src="{{message.raw_data.dwimgsrc}}" alt="Music File" title="play"></a>-->
                                <!--</div>-->
                                <!--<div ng-class="{'attachment-msg-right' : message.isOwn(), 'attachment-msg-left' : !message.isOwn()}">-->
                                  <!--<span class="decs-text" ng-show="message.raw_data.showme"><b>File :</b> {{ message.getFileName()}}</span>-->
                                  <!--<span class="decs-text" ng-show="message.raw_data.showme"><a id ="{{message.raw_data.dwid}}" class="decs-text" ng-show="message.isOwn()" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i>Open in Editor</i><i class="fa fa-download dw-icon"></i></a>-->
                                  <!--<a id ="{{message.raw_data.dwid}}" class="decs-text" ng-show="!message.isOwn()" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i>&nbsp;&nbsp;Open in Editor</i> <i class="fa fa-download dw-icon"></i></a>-->
                                    <!--<span class="decs-text" ng-show="message.showme"><a id ="{{message.dwid}}" class="decs-text" ng-show="message.ownMsg" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i>Download</i><i class="fa fa-download dw-icon"></i></a></span>-->
                                  <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="!message.ownMsg" onclick="return angular.element(this).scope().downloadMusic(event,this)" href ><i>&nbsp;&nbsp;Download</i> <i class="fa fa-download dw-icon"></i></a>-->
                                  <!--<a id ="{{message.dwid}}A" class="decs-text hidden-link" href="{{ message.serverfilename }}"  download="{{ message.serverfilename }}"><i>Hidden Link</i></a></span>-->
                                <!--</div>-->

                              <!--</div>&lt;!&ndash; Audio File Close &ndash;&gt;-->

                              <!-- Doc File Open -->
                              <!--<div ng-class="{'filename' : true, 'chat-msg' : true}" ng-show="message.isPDFFile">-->
                                <!--<div ng-class="{'attachment-icon-right' : message.ownMsg, 'attachment-icon-left' : !message.ownMsg}">-->
                                  <!--<a href ng-click="openClickPDF(message)">-->
                                  <!--<img id="{{message.dwid}}" width="45" height="45" ng-src="{{message.dwimgsrc}}" alt="Document"></a>-->
                                <!--</div>-->
                                <!--<div ng-class="{'attachment-msg-right' : message.ownMsg, 'attachment-msg-left' : !message.ownMsg}">-->
                                  <!--<span class="decs-text" ng-show="message.showme"><b>File :</b> {{ message.filename}}</span>-->
                                  <!--<span class="decs-text" ng-show="message.showme"><b>Size :</b> {{message.size}}</span>-->
                                  <!--<span class="decs-text" ng-show="message.showme"><a id ="{{message.dwid}}" class="decs-text" ng-show="message.ownMsg"  onclick="return angular.element(this).scope().downloadPDF(event,this)" href><i class="fa fa-download dw-icon"></i> <i>Click here to download</i></a>-->
                                  <!--<a id ="{{message.dwid}}" class="decs-text" ng-show="!message.ownMsg"  onclick="return angular.element(this).scope().downloadPDF(event,this)" href><i>Click here to download</i> <i class="fa fa-download dw-icon"></i></a>-->
                                  <!--<a id ="{{message.dwid}}A" class="decs-text hidden-link" href="{{ message.serverfilename }}"  download="{{ message.serverfilename }}"><i>Hidden Link</i></a>-->
                                  <!--</span>-->
                                <!--</div>-->
                              <!--</div>&lt;!&ndash; Doc file Close &ndash;&gt;-->

                            </div><!-- /.attachment -->
                        </div><!-- /.item-->

                        </div>
                      </div><!-- /.direct-chat-text -->

                    </div>
                    <div class="delete-message-button" ng-if="isAdmin && (message.type === 'chat')">
                      <button ng-click="deleteMsg(message)">delete</button>
                    </div>
                  </div><!-- /.direct-chat-msg -->
                </div><!--/.direct-chat-messages-->

                <div id="slidememberlist" class="slideout_inner">
                    <!-- Contacts are loaded here -->
                    <div>
                    <div class="direct-chat-messages ol-members">
                      <ul class='contacts-list'>
                        <li ng-repeat="user in users">
                          <a href>
                            <img class='contacts-list-img' ng-src='app/css/dist/img/{{user.userAvatar}}'/>
                            <div class='contacts-list-info'>
                                <span class="ol-memeber-name" ng-class="{'admin': user.isInstructor}" style="line-height:2.6; padding:5px; font-weight : 600; color : #333;">{{ user.username }}{{user.utorid ? ' ('+user.utorid+')' : ""}}{{user.isInstructor ? ' (Instructor)' : ""}}</span>
                            </div><!-- /.contacts-list-info -->
                          </a>
                        </li><!-- End Contact Item -->
                      </ul><!-- /.contatcts-list -->
                    </div><!--/.direct-chat-messages-->
                  </div>
                </div>


              </div><!-- /.box-body -->
              <script type="text/javascript">//<![CDATA[ 
                  function resizeChat()
                  {
                      var heights = window.innerHeight;
                      var target = document.getElementById('chat_body_div');
                      heights -= 100;
                      target.style.height = heights + "px";
                  }
                  resizeChat();
                  window.onresize = function() {
                      resizeChat();
                  };
                  //]]>  
              </script> 
              <div class="box-footer">
              <div id="panel">
                      <span style="font-color: black; font-size: 13px">
                        <div class="tab">
                          <input class="tablinks" value="&nbsp;&nbsp;Emoji&nbsp;|" type="button" onclick="openTab(event, 'Emoj');">
                          <input class="tablinks" value="&nbsp;Math&nbsp;|" type="button" onclick="openTab(event, 'Math');">
                          <input class="tablinks" value="&nbsp;Formula&nbsp;&nbsp;" type="button" onclick="openTab(event, 'Form');">
                        </div>
                        <div id="Emoj" class="tabcontent">
                          <input value="😃" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😆" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="🙁" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😋" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😣" class="emojibutton" type="button" onclick="input(this);" />
                          <br />
                          <input value="😉" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😵" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😢" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😤" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😲" class="emojibutton" type="button" onclick="input(this);" />
                          <br />
                          <input value="😑" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😕" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😎" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😇" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="😝" class="emojibutton" type="button" onclick="input(this);" />
                        </div>

                        <div id="Math" class="tabcontent">            
                          <input value="$$ $$" class="dollorbutton" type="button" onclick="input(this);" />
                          <input value="α" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="β" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="δ" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="θ" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="μ" class="emojibutton" type="button" onclick="input(this);" />
                          <br />
                          <input value="π" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="≈" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="≠" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="≡" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="∞" class="emojibutton" type="button" onclick="input(this);" />
                          <br />
                          <input value="±" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="∆" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="∫" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="√" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="²" class="emojibutton" type="button" onclick="input(this);" />
                          <br />
                          <input value="∑" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="∪" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="∩" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="≥" class="emojibutton" type="button" onclick="input(this);" />
                          <input value="≤" class="emojibutton" type="button" onclick="input(this);" />
                        </div>
                        <div id="Form" class="tabcontent">
                          <input value='$$\int_{a}^{b} x^2 dx$$' placeholder="Integral Formula" class="formulabutton" type="button" ondblclick="input(this);" onclick="typeset(this);"/>
                          <br />
                          <input value='$$\sum_{n=1}^{\infty} 2^{-n} = 1$$' placeholder="Summation Formula" class="formulabutton" type="button" ondblclick="input(this);" onclick="typeset(this);"/>
                          <br />
                          <input value='$$\lim_{x\to\infty} f(x)$$' placeholder="Limit" class="formulabutton" type="button" ondblclick="input(this);" onclick="typeset(this);"/>
                          <br />
                          <input value='$$a_1^2 + a_2^2 = a_3^2$$' placeholder="Sub and Superscripts" class="formulabutton" type="button" ondblclick="input(this);" onclick="typeset(this);"/>
                          <p id="previewArea">
                            [Click Preview - Double Click Add]
                          </p>
                        </div>
                      <span>
                    </div>
                <div class="box-tools pull-right desktop">
                  <!-- Any File Select Button -->
                  <button class="btn btn-warning btn-flat" data-widget="" ngf-select ng-model="Files"><i class="glyphicon glyphicon-paperclip"></i></button>
                </div>
                <!-- Text message  -->
                <form action="" method="post">
                  <div class="input-group">
                  <span class="input-group-btn" style="position:relative">
                    <button type="button" class="accordion btn btn-warning btn-flat">☺+</button>
                  </span>
                    <textarea rows=1 id="textArea" class="chat-text-box" type="textarea" style="height: 35px;resize: none" name="message" placeholder="Type Message ..." ng-class="{'form-control': true, 'has-error':isMsgBoxEmpty}" ng-model="chatMsg" ng-change="isMsgBoxEmpty=false" ng-enter="sendMsg()" ng-focus="setFocus">
                    </textarea>
                    <script>
                      var ua = window.navigator.userAgent;
                      var iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
                      var webkit = !!ua.match(/WebKit/i);
                      var iOSSafari = iOS && webkit && !ua.match(/CriOS/i);
                    </script>
                    <span class="input-group-btn">
                      <button id="chat-send-button" type="button" class="btn btn-warning btn-flat" ng-click="sendMsg()">Send</button>
                    </span>
                  </div>
                </form>
              </div><!-- /.box-footer-->
              </div><!-- /.box -->
            </div>

            <script src="app/js/chatroomPlus.js"></script>     
      </div>
    </div><!-- /.content --> 
  </div><!-- /.container -->
</div><!-- /.content-wrapper -->
<script>
  // Fire interface loaded event
  fireEventChain(chatRoomInterfaceLoadedHandlers);
</script>