<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

<!-- Full Width Column -->
<div id="chat-wrapper" class="content-wrapper" ng-class="{'menu-open': isMenuOpened}">
    <!-- Editor Content -->
    <div id="editorframe" style="overflow: hidden;">
        <!--Dynamically resize window to fit editor-->
        <iframe name="editor" id="editor-frame" src="/app/views/ICE/ice.html" frameborder="0" scrolling="no"><p>Your
            browser does not support iframes.</p></iframe>
        <iframe name="preview" id="preview-frame" src="/app/views/preview.html"></iframe>
        <script type="text/javascript">//<![CDATA[
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.getElementById("preview-frame").style.display = "none";
        }

        function resizeEditor() {
            var ua = window.navigator.userAgent;
            var iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
            var webkit = !!ua.match(/WebKit/i);
            var iOSSafari = iOS && webkit && !ua.match(/CriOS/i);
            if (iOSSafari) {
                var heights = window.innerHeight;
                document.getElementById("editor-frame").style.height = heights + "px";
            }
        }

        resizeEditor();
        window.onresize = function () {
            resizeEditor();
        };
        //]]>
        </script>
        <div id="editor-resize-cover">
            <img src="/app/images/resize-horizontal.png"/>
        </div>
    </div>
    <div id="dragbar"></div>
    <div id="collapsebar">
        <div class="arrow-left"></div>
    </div>
    <!-- Chat Content -->
    <div id="chatframe">

        <!--Bubble Menu-->
        <div ng-include="'/app/views/chatroom/bubble-menu.html'"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="box box-warning direct-chat direct-chat-warning" id="direct-chat-container">
                    <div id="chat-body-div" class="box-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" ng-click="resetMessageMenu()" id="dcs"
                             scroll-bottom="messages">

                            <!-- Message. Default to the left -->
                            <div ng-repeat="message in getAllMsg()"
                                 ng-if="message.isChat() || (message.isSystem() && !(message.isHidden() && !enableVerbose))"
                                 ng-class="{'direct-chat-msg' : true, 'right' : message.isOwn(), 'wordwrap' : true}">

                                {{ message.hidden ? "["+message.timeFormatted+"] " + message.msg : message.msg }}

                                <div ng-if="message.isChat()">

                                    <!--Chat Information-->
                                    <div ng-include="'/app/views/chatroom/chat-info.html'"></div>

                                    <!-- Text message -->
                                    <div ng-class="{'chat-text' : true, 'text-right' : message.isOwn()}">

                                        <!--User avatar-->
                                        <div ng-include="'/app/views/chatroom/chat-img.html'"></div>

                                        <!--Basically the bubble-->
                                        <div ng-include="'/app/views/chatroom/chat-text-inner.html'"></div>
                                        <!--Tool buttons for each message-->
                                        <div ng-include="'/app/views/chatroom/chat-text-menu.html'"></div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div ng-include="'/app/views/chatroom/member-list.html'"></div>


                    </div>
                    <div class="box-footer" id="chatroom-footer">

                        <!--Emoji panel-->
                        <div id="panel">
  <span style="font-color: black; font-size: 13px">
    <div class="tab">
      <input class="tablinks" value="&nbsp;&nbsp;Emoji&nbsp;|" type="button" onclick="openTab(event, 'Emoj');">
      <input class="tablinks" value="&nbsp;Math&nbsp;|" type="button" onclick="openTab(event, 'Math');">
      <input class="tablinks" value="&nbsp;Formula&nbsp;&nbsp;" type="button" onclick="openTab(event, 'Form');">
    </div>
    <div id="Emoj" class="tabcontent">
      <input value="😃" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😆" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="🙁" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😋" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😣" class="emojibutton" type="button" onclick="input(this);"/>
      <br/>
      <input value="😉" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😵" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😢" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😤" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😲" class="emojibutton" type="button" onclick="input(this);"/>
      <br/>
      <input value="😑" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😕" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😎" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😇" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="😝" class="emojibutton" type="button" onclick="input(this);"/>
    </div>

    <div id="Math" class="tabcontent">
      <input value="$$ $$" class="dollorbutton" type="button" onclick="input(this);"/>
      <input value="α" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="β" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="δ" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="θ" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="μ" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="\" class="emojibutton" type="button" onclick="input(this);"/>
      <br/>
      <input value="π" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="≈" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="≠" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="≡" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="∞" class="emojibutton" type="button" onclick="input(this);"/>
      <br/>
      <input value="±" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="∆" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="∫" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="√" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="²" class="emojibutton" type="button" onclick="input(this);"/>
      <br/>
      <input value="∑" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="∪" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="∩" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="≥" class="emojibutton" type="button" onclick="input(this);"/>
      <input value="≤" class="emojibutton" type="button" onclick="input(this);"/>
    </div>
    <div id="Form" class="tabcontent">
      <input value='$$\int_{a}^{b} x^2 dx$$' placeholder="Integral Formula" class="formulabutton" type="button"
             ondblclick="input(this);" onclick="typeset(this);"/>
      <br/>
      <input value='$$\sum_{n=1}^{\infty} 2^{-n} = 1$$' placeholder="Summation Formula" class="formulabutton"
             type="button" ondblclick="input(this);" onclick="typeset(this);"/>
      <br/>
      <input value='$$\lim_{x\to\infty} f(x)$$' placeholder="Limit" class="formulabutton" type="button"
             ondblclick="input(this);" onclick="typeset(this);"/>
      <br/>
      <input value='$$a_1^2 + a_2^2 = a_3^2$$' placeholder="Sub and Superscripts" class="formulabutton" type="button"
             ondblclick="input(this);" onclick="typeset(this);"/>
      <p id="previewArea">
        [Click Preview - Double Click Add]
      </p>
    </div>
  </span>
                        </div>

                        <!--Size of this area is modified by JavaScript, registered in ui.js-->
                        <div id="text-message-input-area">
                            <button class="message-tool-button accordion" id="emoji-button" title="Special Characters">
                                <img src="/app/images/emoji-icon.png" width="20px"/>
                            </button>
                            <button class="message-tool-button" id="latex-button" title="LaTeX Editor"
                                    ng-click="toggleLatexEditor()">
                                <img src="/app/images/latex-icon.png" width="20px"/>
                                <button class="message-tool-button" id="equation-editor-button" title="Equation Editor"
                                        ng-click="showEquationEditor()">
                                    <img src="/app/images/editor-icon.png" width="20px"/>
                                </button>
                                <textarea id="textArea" rows="1" wrap="soft" placeholder="Type Message ..."
                                          ng-model="chatMsg"
                                          ng-change="isMsgBoxEmpty=false"
                                          ng-enter="sendMsg()"
                                          ng-focus="setFocus"
                                          class="tex2jax_ignore"></textarea>
                                <button class="message-tool-button" ng-click="sendMsg()" id="send-message-button"><i
                                        class="fa fa-paper-plane" aria-hidden="true"></i> Send
                                </button>
                        </div>

                        <div id="latex-editor-area" class="tex2jax_ignore">
                        </div>


                    </div><!-- /.box-footer-->
                </div><!-- /.box -->
            </div>

            <div id="chatroom-input-container">
                <div id="chatroom-input-test"></div>
            </div>

            <div ng-include="'/app/views/chatroom/loading.html'"></div>

            <script src="app/js/chatroomPlus.js"></script>
        </div>
    </div><!-- /.content -->
</div><!-- /.container -->
</div><!-- /.content-wrapper -->
<script>
    // Fire interface loaded event
    fireEventChain(chatRoomInterfaceLoadedHandlers);
</script>