#math-editor {
  width: 70%;
  float: left;
  overflow-y: hidden;
}

#chat-wrapper {
  overflow: hidden;
  height: 100vh;
}

#chatframe {
  width: calc(~"30% - 5px");
  height: 100%;
  float: right;
  overflow-y: hidden;
}

#tool_selectpath {
  text-decoration: none;
  display: none;
}

.suggest {
  background-color: white;
  display: inline-block;
  border-style: outset;
  margin: 0px 3px 0px 0px;
  cursor: pointer;
  background-image: none;
  border: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  &:hover {
    background-color: #e0e0e0;
  }
}

#floatingContent > h1 > div:last-child {
  margin-right: 0;
}

#tool_swap {
  display: none;
}

.system-message {
  color: #A0A0A0 !important;
  margin-bottom: 5px;
  font-size: 14px;
}

#chatframe > .row {
  margin: 0;
}

#chatframe > .row > .col-sm-12 {
  padding: 0;
}

.nicknames {
  position: absolute;
  z-index: 99;
  color: white;
  font-size: 16px;
  top: 7px;
  left: 12px;
}

#workarea {
  width: 100vw;
}

@media only screen and (max-width: 732px) {
  #workarea {
    width: 100vw;
  }

  #math-editor {
    display: none;
    width: 100%;
    height: auto;
    float: left;
  }

  #chatframe {
    display: inline;
    width: 100%;
    height: 100vh;
    float: left;
  }

  #dragbar {
    display: none;
  }

  #tool_selectpath {
    text-decoration: none;
    display: block;
  }

  #tool_fhpath {
    display: none;
  }

  #tool_select {
    display: none;
  }

  #tool_swap {
    display: inherit;
  }
}