div.tab {
  overflow: hidden;
  border: 1px;
  background-color: #ffc266;
}

.emojibutton{
  height:20px;
  width:20px;
  border:none;
  background:none;
}

.dollorbutton{
  height:20px;
  width:30px;
  display: flex;
  border:none;
  background:none;
  margin-top: auto;
  margin-bottom: auto;
}

.formulabutton{
  height:20px;
  width:inherit;
  border:none;
  background:none;
}

#previewArea{
  background-color: #cccccc;
  border-radius:5px;
  padding: 5px;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  padding-left:4px;
  padding-right:4px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ffc266;
}

div#panel {
    top: auto;
    bottom: 55px;
    display:none;
    position:absolute;
    z-index:99;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    border: 1px solid gray;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #111;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
    border: 1px black;
}

.tablinks{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}