*{margin:0;padding:0;}

.chat-settings {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUyIDUyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MiA1MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIHN0eWxlPSJmaWxsOiNFN0VDRUQ7IiBkPSJNNTAuMjE5LDIxaC0yLjc5N2MtMC41NTItMi4zNzUtMS40ODYtNC42MDItMi43MzktNi42MTNsMS45NzgtMS45NzhjMC42OTUtMC42OTUsMC42OTUtMS44MjMsMC0yLjUxOGwtNC41NTMtNC41NTNjLTAuNjk1LTAuNjk1LTEuODIzLTAuNjk1LTIuNTE4LDBsLTEuOTc4LDEuOTc4QzM1LjYwMiw2LjA2NCwzMy4zNzUsNS4xMywzMSw0LjU3OFYxLjc4MUMzMSwwLjc5NywzMC4yMDMsMCwyOS4yMTksMGgtNi40MzlDMjEuNzk3LDAsMjEsMC43OTcsMjEsMS43ODF2Mi43OTdjLTIuMzc1LDAuNTUyLTQuNjAyLDEuNDg2LTYuNjEzLDIuNzM5TDEyLjQxLDUuMzM5Yy0wLjY5NS0wLjY5NS0xLjgyMy0wLjY5NS0yLjUxOCwwTDUuMzM5LDkuODkyYy0wLjY5NSwwLjY5NS0wLjY5NSwxLjgyMywwLDIuNTE4bDEuOTc4LDEuOTc4QzYuMDY0LDE2LjM5OCw1LjEzLDE4LjYyNSw0LjU3OCwyMUgxLjc4MUMwLjc5NywyMSwwLDIxLjc5NywwLDIyLjc4MXY2LjQzOUMwLDMwLjIwMywwLjc5NywzMSwxLjc4MSwzMWgyLjc5N2MwLjU1MiwyLjM3NSwxLjQ4Niw0LjYwMiwyLjczOSw2LjYxM0w1LjMzOSwzOS41OWMtMC42OTUsMC42OTYtMC42OTUsMS44MjMsMCwyLjUxOGw0LjU1Myw0LjU1M2MwLjY5NSwwLjY5NSwxLjgyMywwLjY5NSwyLjUxOCwwbDEuOTc4LTEuOTc4YzIuMDExLDEuMjUyLDQuMjM4LDIuMTg3LDYuNjEzLDIuNzM5djIuNzk3QzIxLDUxLjIwMywyMS43OTcsNTIsMjIuNzgxLDUyaDYuNDM5QzMwLjIwMyw1MiwzMSw1MS4yMDMsMzEsNTAuMjE5di0yLjc5N2MyLjM3NS0wLjU1Miw0LjYwMi0xLjQ4Niw2LjYxMy0yLjczOWwxLjk3OCwxLjk3OGMwLjY5NSwwLjY5NSwxLjgyMywwLjY5NSwyLjUxOCwwbDQuNTUzLTQuNTUzYzAuNjk1LTAuNjk1LDAuNjk1LTEuODIzLDAtMi41MThsLTEuOTc4LTEuOTc4YzEuMjUyLTIuMDEsMi4xODYtNC4yMzgsMi43MzktNi42MTNoMi43OTdDNTEuMjAzLDMxLDUyLDMwLjIwMyw1MiwyOS4yMTl2LTYuNDM5QzUyLDIxLjc5Nyw1MS4yMDMsMjEsNTAuMjE5LDIxeiBNMjYsMzVjLTQuOTcxLDAtOS00LjAzLTktOWMwLTQuOTcxLDQuMDI5LTksOS05czksNC4wMjksOSw5QzM1LDMwLjk3LDMwLjk3MSwzNSwyNiwzNXoiLz48cGF0aCBzdHlsZT0iZmlsbDojQzdDQUM3OyIgZD0iTTI2LDEzYy03LjE4LDAtMTMsNS44Mi0xMywxM3M1LjgyLDEzLDEzLDEzczEzLTUuODIsMTMtMTNTMzMuMTgsMTMsMjYsMTN6IE0yNiwzNWMtNC45NzEsMC05LTQuMDMtOS05YzAtNC45NzEsNC4wMjktOSw5LTlzOSw0LjAyOSw5LDlDMzUsMzAuOTcsMzAuOTcxLDM1LDI2LDM1eiIvPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==);

	width: 30px;
	height: 30px;

	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
	transition: all 0.2s linear;
	margin-left: 15px;

	position: relative;
}

.chat-menu {
	position: absolute;

	width: 120px;
	padding: 5px;

	background-color: #fff;
	right: 0;
	top: 35px;
	z-index: 15;
	box-shadow: 0 6px 12px rgba(55,71,79,.1);
}

.chat-menu .btn-flat {
	width: 100% !important;
	cursor: pointer !important;
	text-align: center;
	padding: 5px;
}

.chat-menu .btn-flat:hover {
	color: #ffc266;
}

/* ============================= login Page =============================*/
.error {
	color: #df3320 !important;
}
.avatar{
	height : 65px; 
	width : 65px; 
	border-radius : 50%; 
	margin-bottom : 0.5em; 
	margin-left: 0.75em;
}
.avatar-thumb{
	width : 24%;
	display: inline-block;
}
.avatar-selected{
	height : 65px; 
	width : 65px;
	border: 3px solid #fff;
	box-shadow: inset 0 0 5px tomato, 0 0 5px black;
}
.login-box-body{
	width: 360px;
	margin:0px auto;
}
.has-error{
	border-color: #dd4b39;
}
.errGroup{
	margin-bottom: 0px;
}
.login-box-body .form-control-feedback.errText{
	color: #dd4b39;
}
/* ============================= chatRoom Page ==========================*/
.multiple-borders-white {
  border: 4px solid rgba(255,255,255,0.5);
  border-radius: 5px;
}
.multiple-borders-black {
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}
.contacts-list{
	background-color: #fff;
}
.ol-members{
	padding: 0px 0px 0px 0px;
}
.ol-member-name{
	margin: 0px;
	line-height: 1.8;
	padding: 5px;
}
.box-tools{
	margin-left: 0.1em ;
}
.content-wrapper{
	 background-color: transparent; 
}
.direct-chat-messages{
	height : 450px;
}
.attachment-icon-right{
	float : right;
	padding: 5px 0px 0px 5px;
}
.attachment-icon-left{
	float : left;
	padding: 5px 5px 0px 0px;
}
.attachment-msg-right{
	float : right;
}
.attachment-msg-left{
	float : left;
}
.dw-icon{
	font-size : 17px;
}
.hidden-link{
	visibility: hidden;
	position: absolute;
	font-size: 1px;
}
.decs-text{
	color : #333;
	font-size: 12.5px;
	margin: 0px;
	display: block;
}
.decs-text:hover{
	color: #333;
}
.wordwrap {    
   word-wrap: break-word;      /* IE */
}
.chat-box{
	height: 20px;
	width: 100%;
	position: absolute;
	top: 97%;
}
#alert{
	background-color: #000;
	padding: 5px 10px;
	color: #fff;
	width: 150px;
	border-radius: 50px;
	text-align: center;
	font-size: 13px;
	position: relative;
	margin: 0px auto;
	top : -10px;
	z-index: 999;	 
}
.slideout_inner {
    position: absolute;
    top: 0px;
    left: -250px;
    background: #6DAD53;
    width: 250px;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    background-color: #fff;
    border : 1px solid rgba(0,0,0,0.2);
    overflow: auto;
}
.slideout_inner_trans {
    left: 0;
}
#slidememberlist{
	background-color: rgba(255,255,255,0.6);
	overflow: hidden;
}
.chat-msg{
	margin : 0px;
}
.mobile{
	display: none;
}
.desktop{
	display: block;
}
.toggle-contact-icon{
	display: none;
}
.toggle-contact-list{
	display: block;
}
.dw-left{
	font-size : 20px; 
	color : #333; 
	float : left;
}
.dw-right{
	font-size : 20px; 
	color : #333; 
	float : right;
}
/*============================ Sreen size 768px ============================*/
@media screen and (max-width: 768px) {
.login-box-body{
	width: 65%;
	margin:0px auto;
}
	.selector-wrapper2 {
		width: 65% !important;
	}
.avatar{
	height : 50px; 
	width : 50px; 
	border-radius : 50%; 
	margin-bottom : 0.5em; 
	margin-left: 0.50em;
}
.avatar-thumb{
	width : 24%;
	display: inline-block;
}
.avatar-selected{
	height : 50px; 
	width : 50px;
	border: 3px solid #fff;
	box-shadow: inset 0 0 5px tomato, 0 0 5px black;
}
.toggle-contact-icon{
	display: block;
}
.toggle-contact-list{
	display: none;
}
}
/*============================ Sreen size 480px ============================*/
@media screen and (max-width: 732px) {
	.login-box-body {
		width: 95%;
		min-width: 258px;
		max-width: 280px;
		padding: 20px 15px;
	}
	
	.selector-wrapper2 {
		width: 95% !important;
		min-width: 258px;
		max-width: 280px;
	}

	.selector-wrapper2>div {
		width: 120px !important;
		margin: 0 calc((100% - 240px) / 6) !important;
	}
.input-group{
	width: 100%;
	float: none;
}
.mobile{
	display: inline-block;
}
.desktop{
	display: none;
}
}

#editorframe {
	height: 100vh;
}


.selector-wrapper2 {
	width: auto;
	margin: 20px auto 15px;
	display: flex;
	justify-content: center;
	height: 40px;
}

.selector-wrapper2>div {
	width: 133px;
	padding: 7px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color 0.1s linear, border 0.1s linear, color 0.1s linear;
	margin: 0 calc((100% - 266px) / 6);
	line-height: 23px;
	color: #8a8a8a;
	font-weight: 700;
	font-size: 13px;
	border: 2px transparent solid;
}

input {
	margin: 10px auto;
}

.create-button2 {


}

.join-button2 {

}



.join-button2:hover {
	color: #ed8355;

}

.create-button2:hover {
	color: #ed8355;
}

.button-active2 {

	background-color: #ed8355 !important;
	background-image: none;
	color: #fff !important;

	font-size: 14px;
	line-height: inherit;
}

.button-not2 {
	background-color: transparent;

	border-radius: 50%;
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	color: #a0a0a0;
}

.button-not2:hover {
	background-color: #ed8355;
	color: #fff;
}

.card {
	background-color: #fff;

	box-shadow:0 1px 3px rgba(0,0,0,.1);
	transition: all 0.3s ease-in;
}

.login-logo {
	margin-bottom: 0;
}

.login-box-msg {
	padding-bottom: 5px;
}

.login-box-body {
	padding-top: 15px;
	padding-bottom: 15px;
}

.no-toggle {
	margin-top: 15px;
}
