/*
 * Chat zoom controls stylesheet
 */


.chat-message--resizable {
    font-size: 14px;
}

#chat-zoom-container {
    position: absolute;
    width: 100%;
    z-index: 2;
}
#chat-zoom-control {
    display: flex;
    justify-content: center;

    button {
        &#chat-zoom-in,
        &#chat-zoom-out,
        &#chat-zoom-reset {
            height: 26px;
            width: 26px;
            margin-top: 10px;
            margin-right: 10px;
            background: transparent;
            border: none;    
            z-index: 2;
        }
    }
}


