
<div class="control-header">
    <header> </header>
    <div class="header-control-wrapper">
        <logout-menu user="user"></logout-menu>

    </div>
</div>
<div class="overlay" ng-if="!hideOverlay" >

</div>

<div class="control-content">

    <div class="student-control-wrapper" style="padding: 5px;margin-bottom: 0;border-bottom: 1px #e0e0e0 solid">
        <div style="display:flex;">
            <div style="font-size: 17px;padding: 10px 0;">{{className}} settings</div>
            <div class="notif-popup" ng-class="{'error-popup': notif.error}" ng-if="notif">
                {{notif.message}}
            </div>
        </div>
        <div class="button-wrapper">
            <div class="inner-nav">
                <a class="nav-active" href={{"/admin/classrooms/"+className}}>
                    Settings
                </a>
                <a href={{"/admin/classrooms/"+className+"/students"}}>
                        Students
                </a>
                <a href={{"/admin/classrooms/"+className+"/history"}}>
                        History
                </a>
            </div>
        </div>
    </div>
    <form class="chat-setting-form" ng-submit="Actions.onClassSubmit()">
        <div class="setting-category">
            <header>General</header>
            <div class="setting-wrapper">
                <div class="setting">
                    <div class="setting-label">
                        Room Name
                        <div class="change-button" ng-click="block.roomName = false">
                            Change
                        </div>
                    </div>
                    <input required ng-disabled="block.roomName" type="text" ng-class="{'setting-blocked': block.roomName}" ng-model="classroom.roomName"/>

                </div>
                <div class="setting">
                    <div class="setting-label">
                        Invite Only
                    </div>
                    <md-switch ng-model="classroom.invite" aria-label="Switch 1" class="md-warn" style="margin: 0;">
                    </md-switch>

                </div>
            </div>


        </div>

            <input type="submit" value="Save" ng-class="{'disabled': block.save}" ng-disabled="block.save">

    </form>

</div>



