
    <div class="control-header">
        <header> </header>
        <div class="header-control-wrapper">
            <logout-menu user="user"></logout-menu>

        </div>
    </div>
    <div class="overlay" ng-if="!hideOverlay" >

        <div class="import-wrapper" ng-if="selected">

            <header>
                <div style="display: flex;">
                    <span>
                        Update TA
                        <span class="highlight">
                            [{{selected.name}}]
                        </span>
                    </span>
                    <div class="notif-popup" ng-class="{'error-popup': notif.error}" ng-if="notif">
                        {{notif.message}}
                    </div>
                </div>

                <div class="button-wrapper">
                    <div class="line-button delete-button" ng-click="Actions.onDeleteTA()">Delete</div>
                    <div class="cancel-button" ng-click="onCancelClick()">Cancel</div>
                </div>

            </header>

            <form class="chat-setting-form" ng-submit="Actions.onUpdateTA()">
                <div class="setting-category">
                    <header>Details</header>
                    <div class="setting-wrapper">

                        <div class="setting">
                            <div class="setting-label">
                                Name
                                <div class="change-button" ng-click="block.name = false">
                                    Change
                                </div>
                            </div>
                            <input required ng-disabled="block.name" type="text" ng-class="{'setting-blocked': block.name}" ng-model="ta.name"/>

                        </div>
                        <div class="setting">
                            <div class="setting-label">
                                Token
                                <div class="change-button" ng-click="block.token = false">
                                    Change
                                </div>
                            </div>
                            <input required ng-disabled="block.token" type="text" ng-class="{'setting-blocked': block.token}" ng-model="ta.token"/>

                        </div>
                        <div class="setting">
                            <div class="setting-label">
                                Profile Image
                            </div>
                            <div class="avatar-picker" ng-click="onEdit()">
                                <div ng-style="{'background-image':'url('+getAvatar()+')'}" class="avatar">
                                </div>

                                <div class="edit">
                                    Edit
                                </div>


                            </div>
                            <div class="avatar-selector card" ng-if="editAvatar">
                                <div class="avatar-colours">
                                    <div ng-click="setAvatar(1)" style="background: url(/app/css/dist/img/Avatar1.jpg)"></div>
                                    <div ng-click="setAvatar(2)" style="background: url(/app/css/dist/img/Avatar2.jpg)"></div>
                                    <div ng-click="setAvatar(3)" style="background: url(/app/css/dist/img/Avatar3.jpg)"></div>
                                    <div ng-click="setAvatar(4)" style="background: url(/app/css/dist/img/Avatar4.jpg)"></div>
                                    <div ng-click="setAvatar(5)" style="background: url(/app/css/dist/img/Avatar5.jpg)"></div>
                                    <div ng-click="setAvatar(6)" style="background: url(/app/css/dist/img/Avatar6.jpg)"></div>
                                    <div ng-click="setAvatar(7)" style="background: url(/app/css/dist/img/Avatar7.jpg)"></div>
                                    <div ng-click="setAvatar(8)" style="background: url(/app/css/dist/img/Avatar8.jpg)"></div>

                                </div>
                                <label class="avatar-upload">
                                    <span class="line-button add-button">Upload Image</span>
                                    <input type="file" value="Upload Image" uploadavatar="Actions.onUploadAvatar"/>

                                </label>
                            </div>

                        </div>


                    </div>


                </div>

                <input type="submit" value="Save" ng-class="{'disabled': block.save}" ng-disabled="block.save">

            </form>
        </div>

        <div class="import-wrapper" ng-if="!hideAdd">

            <header>
                <div style="display:flex;">
                    <span>Create TA</span>
                    <div class="notif-popup" ng-class="{'error-popup': notif.error}" ng-if="notif">
                        {{notif.message}}
                    </div>
                </div>

                <div class="button-wrapper">
                    <input type="submit" ng-click="Actions.onTASubmit()"/>
                    <div class="cancel-button" ng-click="onCancelClick()">Cancel</div>

                </div>
            </header>

            <form >
                <div class="form-wrapper" style="border: 0;padding: 0">
                    <div class="add-wrapper">
                        <div>
                            Name
                        </div>
                        <input type="text" ng-model="ta.name" required/>

                    </div>

                </div>



            </form>
        </div>
    </div>

    <div class="control-content">

        <div class="student-control-wrapper" style="margin-bottom: 20px;">
            <div style="display:flex;">
                <input class="student-search" ng-model="search.value" placeholder="search" ng-change="onSearchChange()"/>
                <div class="notif-popup" ng-class="{'error-popup': notif.error}" ng-if="notif">
                    {{notif.message}}
                </div>
            </div>
            <div class="button-wrapper">
                <div class="line-button add-button" ng-click="onAddClick()">
                    Create TA
                </div>

            </div>
        </div>
            <div class="table-list">
                <div class="table-list-header">
                    <div> Name </div>

                    <div>Token</div>

                </div>
                <div class="list-wrapper" ng-repeat="ta in tas">
                    <div class="student-item" ng-if="checkInclude(ta)" ng-click="setSelected(ta._id, true)">
                        <div>{{ta.name}}</div>

                        <div>{{ta.token}}</div>
                    </div>
                </div>

            </div>


    </div>



