<div>
    <button id="chat-zoom-in">ZoomIn</button>
    <button id="chat-zoom-out">ZoomOut</button>

</div>

<script>




    $("#chat-zoom-in").on("click", function () {
        let currentFontSize = parseInt($(".direct-chat-messages").css("font-size"));
        largerFontSize = currentFontSize + 2 + "px";
        $(".direct-chat-messages").css("font-size", largerFontSize);        
    });

    $("#chat-zoom-out").on("click", function () {
        let currentFontSize = parseInt($(".direct-chat-messages").css("font-size"));
        largerFontSize = currentFontSize - 2 + "px";
        $(".direct-chat-messages").css("font-size", largerFontSize);        
    });


</script>

<style>

    #chat-zoom-in{
        position: absolute;
        top: 0px;
        right: 100px;
        background: lavender;
        z-index: 500;
    }

    #chat-zoom-out{
        position: absolute;
        top: 50px;
        right: 100px;
        background: lavender;
        z-index: 500;
    }
</style>