<div class="chat-text-menu" ng-class="{ 'shown': message == showMenuMessage }">
    <button ng-click="deleteMsg(message.raw_data)"
            ng-if="isAdmin && message.isChat()"
            title="Delete">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button ng-click="openBase64ImageInOverlay(message.getText().getImage())"
            ng-if="message.getText().isImage()"
            title="Open image">
        <i class="fa fa-search-plus" aria-hidden="true"></i>
    </button>
    <button ng-click="showMessageDetails(message)"
            title="Detailed information">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </button>
    <button ng-if="message.getText().isImage() && !message.getText().hasSvgSource()"
            ng-click="putImageToEditor(message.getText().getImage())"
            title="Edit Image">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button ng-click="editSvgSource(message.getText().getSvgSource())"
            ng-if="message.getText().hasSvgSource()"
            title="Edit in editor">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button ng-if="message.getText().isEquation()"
            ng-click="showEquationSource(message.getText().getRaw())"
            title="Show LaTeX source">
        <i class="fa fa-code" aria-hidden="true"></i>
    </button>
</div>